.calendar-brigade {
   
    &__filter {
        margin-top: 15px;
        display: flex;

        &-item {
            font-size: 19px;
            font-weight: 500;
            color: rgb(7,7,7);
            padding-right: 10px;
            cursor: pointer;
            &:active {
                color: #ff0000;
               
              }
            &.active {
                color: #ff0000;
            }
        }
    }

    &__table {
        
        width: 50%;
        @media(max-width: 460px) {
            width: 100%;
        }
    }

    &__month {
        margin-top: 15px;
        display: flex;

        &-arrow {
            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }

        &-name {
            font-size: 18px;
            font-weight: 400;
            padding: 0px 7px 0px 7px;
        }
    }
}