.table-scrollable {
    overflow-x: auto;
  }
  
  .welders_column
  {
   position: sticky;
   left: 0;
   top: 0;
   z-index: 4;
   background-color: white !important;
 }
 
 .welders_column::after {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     width: 1px;
     height: 100%;
     background-color: #dee2e6; 
   }

.welders_thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white !important; 
}


.button__welders {
    width: 190px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    @media(max-width: 460px) {
        width: 120px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
    }
}

.welders__search {
    height: 30px;
    width: 150px;
    font-size: 14px;
    outline: none; 
    @media(max-width: 460px) {
        width: 150px;
        height: 20px;
        font-size: 10px;
    }
}

.welders-th {
    padding: 5px !important;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: white !important; 
    text-align: center;
    
}

.welders-th::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-bottom: 2px solid #dee2e6;
    width: 100%;
    
}

.welders-th.mobile {
    padding: 5px !important;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 4;
    background-color: white !important; 
    text-align: center;
}

.welders-th.mobile::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-bottom: 2px solid #dee2e6;
    width: 100%;
}

.welders-td.mobile {
    background-color: #ffffff !important;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
   
}

.welders-td.mobile::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 1px;
    height: 100%;
    background-color: #dee2e6;
}