.button__active {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 60px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
        
    }
}

.button__noactive {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 80px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.button__nodesigner {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 40px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.button__inprogress {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 70px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.button__completed {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 50px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.inactive {
    background-color: #ffffff; /* Белый фон для неактивной кнопки */
    color: #212529; /* Черный текст для неактивной кнопки */
}

.planning__search {
    height: 30px;
    width: 100px;
    font-size: 14px;
     outline: none; 
     @media(max-width: 460px) {
        
        display: none;
     }

}

.planning__search.mobile {
    display: none;
    @media(max-width: 460px) {
        display: block;
        width: 150px;
        height: 20px;
        font-size: 10px;
        margin-top: 15px;
    }
}