.button__active {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 60px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
        
    }
}

.button__noactive {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 80px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.button__nodesigner {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 40px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.button__inprogress {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 70px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.button__completed {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 50px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.inactive {
    background-color: #ffffff; /* Белый фон для неактивной кнопки */
    color: #212529; /* Черный текст для неактивной кнопки */
}

.planning__search {
    height: 30px;
    width: 100px;
    font-size: 14px;
    outline: none; 
    border: solid 1px #000000;
     @media(max-width: 460px) {
        
        display: none;
     }

}

.planning__search.mobile {
    display: none;
    @media(max-width: 460px) {
        display: block;
        width: 150px;
        height: 20px;
        font-size: 10px;
        margin-top: 15px;
        border: solid 1px #000000;
    }
}

.planning-table-container {
    position: relative;
    margin-top: 20px; 
    overflow: hidden;
    height: calc(100vh - var(--header-height, 150px));
    @media(max-width: 768px) {
        height: calc(100vh - var(--header-height, 250px));
    }
}
  
.planning-table-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #dee2e6;
    overscroll-behavior: contain;
}


    
.planning-th {
    padding: 5px !important;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: white !important; 
    text-align: center;
    
}

.planning-th::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-bottom: 2px solid #dee2e6;
    width: 100%;
    
}

.planning-th.mobile {
    padding: 5px !important;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 4;
    background-color: white !important; 
    text-align: center;
}

.planning-th.mobile::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-bottom: 2px solid #dee2e6;
    width: 100%;
}

.planning-td.mobile {
    @media(max-width: 1024px) {
        background-color: #ffffff !important;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 3;
    }
}

.planning-td.mobile::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 1px;
    height: 100%;
    background-color: #dee2e6;
}

.planning {
    &__dropdown {
        position: relative;
        margin-top: 15px;
        &-brigade {
            height: 30px;
            border: 1px solid #212529;
            background-color: #212529; /* Черный фон для активной кнопки */
            color: #ffffff; 
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            @media(max-width: 460px) {
                height: 20px;
                font-size: 10px;
            }
        }

        &-icon {
            width: 17px;
        }

        &-modal {
            position: absolute;
            width: 240px;
            height: auto;
            border: 2px solid #212529;
            background-color: #ffffff;
            padding: 7px;
            z-index: 5;
            @media(max-width: 460px) {
                width: 180px;
                
                
                
            }
        }

        &-item {
            font-size: 16px;
            color: #212529;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                font-weight: 700;
            }
            @media(max-width: 460px) {
                font-size: 13px;
            }
        }
    }

    &__month {
        margin-top: 15px;
        display: flex;

        &-arrow {
            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }

        &-name {
            font-size: 18px;
            font-weight: 400;
            padding: 0px 7px 0px 7px;
        }
    }
}

.planning-table-container {
    position: relative;
    margin-top: 20px; 
    overflow: hidden;
    height: calc(100vh - var(--header-height, 70px));
    @media(max-width: 768px) {
        height: calc(100vh - var(--header-height, 70px));
    }
}
  
.planning-table-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #dee2e6;
    overscroll-behavior: contain;
}