.homepage {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media(max-width: 480px) {
        margin-top: 15px;
    }
    &__content {
        padding-top: 25px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media(max-width: 480px) {
            padding-top: 15px;
            padding-bottom: 10px;
        }
    }

    &__addproject {
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        color: rgb(7,7,7);
        &:hover {
            color: #6600ff;
        }
        @media(max-width: 480px) {
            font-size: 20px;
        }
    }

    &__items {
        padding-top: 20px;
        @media(max-width: 480px) {
            padding-top: 10px;
        }
    }

    &__title-1 {
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        color: rgb(7,7,7);
        &:hover {
            color: #6600ff;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        color: rgb(7,7,7);
    }

    &__item {
        font-size: 18px;
        font-weight: 400;
        color: #2c2b2b;
        cursor: pointer;
        &:hover {
            color: #6600ff;
        }
        @media(max-width: 480px) {
            font-size: 16px;
        }
    }

    .bold {
        font-size: 20px;
        font-weight: 600;
        color: rgb(7,7,7);
        &:hover {
            color: #6600ff;
        }
    }

   
}

//Counter

.counter {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 215px;
    background-color: #2c2b2b;
    border-radius: 10px; 
    @media(max-width: 535px) {
        width: 450px;
    }
    @media(max-width: 480px) {
        height: 180px;
        width: 380px;
    }
    @media(max-width: 420px) {
        height: 180px;
        width: 350px;
    }

    &__content {
        padding-top: 20px;
    }

    &__item {
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        @media(max-width: 480px) {
            font-size: 14px;
        }
    }
}

//istallation-billing 

.installation-billing {
    margin-top: 25px;
    &__title {
        font-size: 18px;
        font-weight: 600;
        color: rgb(7,7,7);
        margin-bottom: 25px;
    }

    &__region {
        font-size: 22px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 15px;
        font-weight: 500;
        color: #000000;
    }
    
}