.modal__check{
    
    @media(max-width:575px) {
        width: 75% !important;
       
    }
}

.modal__readydate{
    
    
    @media(max-width:575px) {
        width: 75% !important;
        
    }
}

.modal__shippingdate {
  
   
    @media(max-width:575px) {
        width: 75% !important;
       
    }
}