.modal__check{
    
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    @media(max-width:575px) {
        width: 55% !important;
       
    }
}

.modal__readydate{
    
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    @media(max-width:575px) {
        width: 55% !important;
        
    }
}

.modal__shippingdate {
  
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    @media(max-width:575px) {
        width: 55% !important;
       
    }
}