.adding {
    &__dropdown {
        position: relative;
        margin-top: 10px;
        margin-bottom: 15px;
        &-chapter {
            height: 30px;
            border: 1px solid #212529;
            background-color: #212529; /* Черный фон для активной кнопки */
            color: #ffffff; 
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            @media(max-width: 460px) {
                height: 20px;
                font-size: 10px;
            }
        }

        &-icon {
            width: 17px;
        }

        &-modal {
            position: absolute;
            width: 240px;
            height: auto;
            border: 2px solid #212529;
            background-color: #ffffff;
            padding: 7px;
            z-index: 5;
            @media(max-width: 460px) {
                width: 180px;
                
                
                
            }
        }

        &-item {
            font-size: 16px;
            color: #212529;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                font-weight: 700;
            }
            @media(max-width: 460px) {
                font-size: 13px;
            }
        }
    }
}