.project-task {
    &__content {
        margin-top: 15px;
    }

    &__button {
        width: 150px;
        height: 30px;
        border: 1px solid #212529;
        background-color: #212529;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-top: 10px;
        @media(max-width: 460px) {
            width: 60px;
            height: 20px;
            font-size: 10px;
        }
    }

    &__td {
        &-done {
            width: 40px;
        }
    }
}