.projectlist {
    &__buttons {
        margin-top: 25px;
        display: flex;
        @media(max-width: 420px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }
    }
    &__button {
        width: 180px;
        height: 70px;
        border-radius: 10px;
        background-color: rgb(24, 86, 218);
        border: none;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        margin-right: 15px;
        &:hover {
            background-color: #ffffff;
            color: rgb(24, 86, 218);
            border: solid 3px rgb(24, 86, 218);
        }
        @media(max-width: 420px) {
            width: 108px;
            height: 70px;
            font-size: 12px;
        }
    }
}