.button__addproject {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 60px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
    }
}

.button__active {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 60px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
        
    }
}

.button__noactive {
    width: 150px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 80px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
       
    }
}

.button__msk {
    width: 40px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 30px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
      
    }
}

.button__spb {
    width: 40px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 30px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
   
    }
}


.inactive {
    background-color: #ffffff; /* Белый фон для неактивной кнопки */
    color: #212529; /* Черный текст для неактивной кнопки */
}

.project__search {
    height: 30px;
    width: 100px;
    font-size: 14px;
     outline: none; 
     @media(max-width: 460px) {
        width: 60px;
        height: 20px;
        font-size: 10px;
     }

}


.project-table-container {
    position: relative;
    margin-top: 20px; 
}
  
.project-table-wrapper {
    max-height: 90vh;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 4px;
   
   
  
}


    
.project-th {
    padding: 5px !important;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: white !important; 
    text-align: center;
}

.project-th::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-bottom: 2px solid #dee2e6;
    width: 100%;
    
}

.project-th.mobile {
    padding: 5px !important;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 4;
    background-color: white !important; 
    text-align: center;
}

.project-th.mobile::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-bottom: 2px solid #dee2e6;
    width: 100%;
}

.project-td.mobile {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    @media(max-width: 1024px) {
        background-color: #ffffff !important;
    }
}

.project-td.mobile::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 1px;
    height: 100%;
    background-color: #dee2e6;
}