.ordermaterialslist {
   
    &__filter {
        margin-top: 15px;
        display: flex;

        &-item {
            font-size: 21px;
            font-weight: 400;
            color: #808080;
            padding-right: 10px;
            cursor: pointer;
           
            &.active {
                font-weight: 700;
                color: #212529;
            }
        }
    }
}

.projectmaterial {

    &-table {
        table-layout: fixed;
        @media(max-width: 1024px) {
            table-layout: auto;
        }
    }
    &__top {
        margin-top: 25px;
        display: flex;
    }
    &__number {
        font-size: 22px;
        color: rgb(0, 75, 214);
        font-weight: 700;
        padding-right: 10px;
        @media(max-width: 490px) {
            font-size: 16px;
            font-weight: 500;
        }
    }
    &__project {
        font-size: 22px;
        color: rgb(0, 75, 214);
        font-weight: 700;
        white-space: nowrap;
        @media(max-width: 490px) {
            font-size: 16px;
            font-weight: 500;
        }
        
    }

    &__deadline {
        font-size: 20px;
        color: #212529;
        font-weight: 600;
        white-space: nowrap;
        margin-left: 15px;
        @media(max-width: 490px) {
            font-size: 15px;
            font-weight: 500;
            margin-left: 7px;
        }
        
    }
}

.materialproject {
    &__top {
        margin-top: 25px;
        display: flex;
    }
    &__name {
        font-size: 22px;
        color: rgb(0, 75, 214);
        font-weight: 700;
        white-space: nowrap;
        @media(max-width: 490px) {
            font-size: 16px;
            font-weight: 500;
        }
        
    }
}

.button__projectmaterial {
    width: 90px;
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: 50px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
    }

    &-nocolor {
        width: 90px;
        height: 30px;
        border: 1px solid #212529;
        background-color: #212529;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-right: 10px;
        &.active {
            background-color: #212529; /* Черный фон для активной кнопки */
            color: #ffffff; /* Белый текст для активной кнопки */
        }
        @media(max-width: 460px) {
            width: 70px;
            height: 20px;
            font-size: 10px;
            margin-right: 5px;
        }
    }

    &-nopayment {
        width: 130px;
        height: 30px;
        border: 1px solid #212529;
        background-color: #212529;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-right: 10px;
        &.active {
            background-color: #212529; /* Черный фон для активной кнопки */
            color: #ffffff; /* Белый текст для активной кнопки */
        }
        @media(max-width: 460px) {
            width: 80px;
            height: 20px;
            font-size: 10px;
            margin-right: 5px;
        }
    }

    &-add {
        white-space: nowrap;
        width: 90px;
        height: 30px;
        border: 1px solid #212529;
        background-color: #212529;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-left: 10px;
        @media(max-width: 490px) {
            width: 80px;
            height: 25px;
            font-size: 12px;
        }
    }

    &-delete {
        white-space: nowrap;
        width: 80px;
        height: 30px;
        border: 1px solid #212529;
        background-color: #212529;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-left: 10px;
        margin: 0 auto;
        @media(max-width: 490px) {
            width: 60px;
            height: 25px;
            font-size: 12px;
        }
    }
}

.inactive {
    background-color: #ffffff; /* Белый фон для неактивной кнопки */
    color: #212529; /* Черный текст для неактивной кнопки */
}

.projectmaterial__search {
    height: 30px;
    width: 120px;
    font-size: 14px;
    outline: none; 
    @media(max-width: 460px) {
        width: 80px;
        height: 20px;
        font-size: 10px;
    }
}
