.ordermaterialslist {
   
    &__filter {
        margin-top: 15px;
        display: flex;

        &-item {
            font-size: 21px;
            font-weight: 400;
            color: #808080;
            padding-right: 10px;
            cursor: pointer;
           
            &.active {
                font-weight: 700;
                color: #212529;
            }
        }
    }
}

.projectmaterial {

    &-table {
        table-layout: fixed;
        @media(max-width: 1024px) {
            table-layout: auto;
        }
    }
    &__top {
        margin-top: 25px;
        display: flex;
    }
    &__number {
        font-size: 22px;
        color: rgb(0, 75, 214);
        font-weight: 700;
        padding-right: 10px;
    }
    &__project {
        font-size: 22px;
        color: rgb(0, 75, 214);
        font-weight: 700;
        white-space: nowrap;
        
    }

    &__deadline {
        font-size: 20px;
        color: #212529;
        font-weight: 600;
        white-space: nowrap;
        margin-left: 15px;
        
    }
}

.materialproject {
    &__top {
        margin-top: 25px;
        display: flex;
    }
    &__name {
        font-size: 22px;
        color: rgb(0, 75, 214);
        font-weight: 700;
        white-space: nowrap;
        
    }
}