.control-table {
    margin-top: 25px;
    width: 360px;

    &__title {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
    }

    &__region {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }

    &__msk, &__spb {
        margin-top: 15px;
    }
}