.tech-supervision {
    &__content {
        margin-top: 25px;
    }

    &__button {
    height: 30px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    &.active {
        background-color: #212529; /* Черный фон для активной кнопки */
        color: #ffffff; /* Белый текст для активной кнопки */
    }
    @media(max-width: 460px) {
        width: auto;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
    }
}
}