.project-sum, .project-name, .brigade-name, .brigade-sum, .brigade-payment, .head-distribution {
    white-space: nowrap;
}

.project-name {
    cursor: pointer;
}

.brigade-name {
    padding-top: 20px;
  
}

.brigade-sum {
    padding-top: 20px;
}


