

.project-name, .project-sum {
    height: 40px;
}

.brigade-name, .brigade-sum {
   height: 40px;
}

.project-name {
    cursor: pointer;
}

.brigade-name {
    margin-top: 20px;
  
}

.brigade-sum {
    margin-top: 20px;
}


.distribution__thead {
    font-size: 18px;
    color: rgb(7,7,7);
    font-weight: 700;
    text-align: center;
}


