.distribution-list {
    margin-bottom: 45px;

    &__table {
        width: 750px;
        @media(max-width: 460px) {
            width: auto;
        }
    }

    &__thead {
        font-size: 18px;
        font-weight: 600;
        color: #5e5c5c;
        text-align: center;
        @media(max-width: 460px) {
            font-size: 12px;
        }
    }
   

    &__projectName {
        font-size: 20px;
        font-weight: 700;
        color:  #000000;
        cursor: pointer;
        width: 300px;
        @media(max-width: 490px) {
            font-size: 14px;
            width: 200px;
        }
    }

    &__total-project {
        font-size: 19px;
        font-weight: 700;
        color: #000000;
        text-align: center;
        @media(max-width: 490px) {
            font-size: 13px;
        }
    }

    &__brigadeName {
        width: 300px;
        font-size: 17px;
        font-weight: 700;
        color: #000000;
        cursor: pointer;
        @media(max-width: 490px) {
            font-size: 12px;
            width: 200px;
        }
    }

    &__total {
        font-size: 17px;
        font-weight: 700;
        color: #000000;
        text-align: center;
        @media(max-width: 490px) {
            font-size: 10px;
        }
    }

    &__datePayment {
        font-size: 17px;
        font-weight: 500;
        color: #979292;
        float: right;

        @media(max-width: 490px) {
            font-size: 10px;
        }
    }

     &__totalPayment {
        font-size: 17px;
        font-weight: 500;
        color: #979292;
        text-align: center;
        @media(max-width: 490px) {
            font-size: 10px;
        }
    }



    // &__firstThead {
    //     width: 180px;
    //     @media(max-width: 490px) {
    //         width: 100px;
    //     }
    // }

    // 


    
    // 

    //

    // &__totalBottom {
    //     font-size: 21px;
    //     font-weight: 400;
    //     color: rgb(0,0,0);
    //     text-align: center;
    //     @media(max-width: 490px) {
    //         font-size: 19px;
    //     }
    // }

    &__dropdown {
        position: relative;
        margin-top: 15px;
        &-brigade {
            height: 30px;
            border: 1px solid #212529;
            background-color: #212529; /* Черный фон для активной кнопки */
            color: #ffffff; 
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            @media(max-width: 460px) {
                height: 20px;
                font-size: 10px;
            }
        }

        &-icon {
            width: 17px;
        }

        &-modal {
            position: absolute;
            width: 240px;
            height: auto;
            border: 2px solid #212529;
            background-color: #ffffff;
            padding: 7px;
            z-index: 5;
            @media(max-width: 460px) {
                width: 180px;
                
                
                
            }
        }

        &-item {
            font-size: 16px;
            color: #212529;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                font-weight: 700;
            }
            @media(max-width: 460px) {
                font-size: 13px;
            }
        }
    }
}








