

.project-name, .project-sum {
    height: 40px;
}

.brigade-name, .brigade-sum {
   height: 40px;
}

.project-name {
    cursor: pointer;
}

.brigade-name {
    margin-top: 20px;
  
}

.brigade-sum {
    margin-top: 20px;
}


