.header {
    margin-top: 25px;
    display: flex;
    &__title {
        margin-top: 6px;
        margin-left: 25px;
        font-size: 32px;
        font-weight: 700;
        color: rgb(7, 7, 7);
        text-transform: uppercase;
        @media(max-width: 420px) {
            font-size: 25px;
        }
    }
    &__logo {
        cursor: pointer;
        @media(max-width: 480px) {
            width: 90%;
        }
    }

}