.installationlist {
    &__top {
        margin-top: 25px;
    }
    &__brigade {
        font-size: 22px;
        color: rgb(0, 75, 214);
        font-weight: 700;
        
    }

}

.highlight {
    background-color: blue;
    color: white;
  }