
  
  .manufacture_column
 {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 4;
  background-color: white !important;
}

.manufacture_column::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #dee2e6; 
  }

  .manufacture_td {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: white !important; 
      }

      .manufacture_thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white !important; 
    }
    
    
  

  .highlighted-row {
    background-color: #565656 !important; /* Цвет фона для выделенной строки */
    font-weight: bold; /* Жирный шрифт для текста в выделенной строке */
    /* Другие стили, если необходимо */
    color: #ffff !important;
  }

  .manufacture_column.highlighted-row {
    background-color: #565656 !important;
    font-weight: bold !important;
    color: #ffff;
  }