.result-supervision {
    &__content {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items: start;
        @media(max-width: 820px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width: 460px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 5px;
        }
    }

    &__brigade {
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        @media(max-width: 460px) {
            font-size: 14px;
        }
    }

    &__brigRes {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        @media(max-width: 460px) {
            font-size: 14px;
        }
    }

    &__project {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        cursor: pointer;
        @media(max-width: 460px) {
            font-size: 12px;
        }
    }

    &__proRes {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        @media(max-width: 460px) {
            font-size: 12px;
        }
    }
    



    
}