.table-scrollable {
    overflow: auto;
    max-height: 600px;
    width: 100%;
    
    
  }

  
  .production_column {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 4;
  background-color: white !important; 
    }

    .production_td {
        position: sticky;
        left: 0;
        top: 0;
        z-index: 3;
        background-color: white !important; 
          }

.production_column::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #dee2e6; 
    
  }

.production__eye {
    img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

.thead_column {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white !important; 
}


.no-top-border {
    border-bottom-color: #ffff !important;
    border-top-color: black !important;
}










