.table-scrollable {
    overflow-x: auto;
  }
  
  th:first-child
 {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white; /* Чтобы столбец не перекрывал другие */
}

td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white; /* Чтобы столбец не перекрывал другие */
}